@media screen and (min-width: 1440px) {
  .container {
    max-width: 1170px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid teal;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    padding-top: 64px;
    padding-bottom: 114px;
  }
  .hero-content {
    text-align: start;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
  /* .hero-content {
    width: 457px;
    height: 288px;
  } */
  .btn-text {
    display: flex;
  }
  .hero-btn-right-text {
    margin-left: 20px;
    width: 236px;
    line-height: 1.43;
    margin-top: 0;
    margin-bottom: 0;
  }
  .advantages-container {
    padding-top: 14px;
    padding-bottom: 64px;
  }
  .advantages-list {
    flex-direction: row;
    gap: 30px;
  }
  .advantages-title {
    justify-content: flex-start;
  }
  .advantages-after-title {
    text-align: start;
  }

  .about-container {
    flex-direction: row-reverse;
    gap: 133px;
  }
  .about-title {
    margin-bottom: 16px;
    text-align: start;
  }
  .about-after-title {
    margin-bottom: 16px;
    text-align: start;
  }
  .about-list {
    text-align: start;
  }
}
