.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    font-family: 'Inter', "sans-serif";
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    
}
button {
    cursor: pointer;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    border: 1px solid tomato;
}
:root {
    --primari-text-color: #000000;
    --secondary-text-color: #FFFFFF;
}

/* HEADER */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
}
.header-logo {
    font-weight: 900;
    font-size: 24.6533px;
    line-height: 1.04;
    letter-spacing: -0.440237px;
    color: var(--primari-text-color);
}
.header-list {
    display: flex;
    gap: 24px;
}
.header-logo-sup {    
    font-size: 8.21776px;
    line-height: 1.13;
    letter-spacing: -0.146746px;
    vertical-align:super;
}
.header-nav {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.1px;

}
.header-link {
    color: var(--primari-text-color);
}
.header-link:hover,
.header-link:focus {
    color: aqua;
}
.header-btn {
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
    background-color: var(--primari-text-color);
    border-radius: 32px;
}
.header-btn:hover,
.header-btn:focus {
    color: aqua;
}

/* HERO */
.hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 114px;
}
.hero-content {
    width: 457px;
    height: 288px;
    padding-top: 64px;
    padding-bottom: 114px;
   
 
    

}
.hero-title { 
    margin-bottom: 24px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: -1px;
}
.hero-after-title {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.56;
}
.btn-text {
    display: flex;
}
.hero-btn {
    padding: 12px 24px;

    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.1px;
background: #000000;
    border-radius: 32px;
    color: #FFFFFF;
}
.hero-btn-right-text {
    margin-left: 20px;
    width: 236px;
font-weight: 600;
font-size: 14px;
line-height: 1.43;
}
/* ADVANTAGES */
.advantages-container {
    padding-top: 14px;
    padding-bottom: 64px;
    background-color: #F3F3F3;
}
.advantages-list {
    display: flex;
    gap: 30px;
    
}
.advantages-title {  
font-weight: 700;
font-size: 18px;
line-height: 1.56;
}
.advantages-after-title {
    margin-top: 16px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.1px;
}


/* ABOUT */

.about {
    
background-color: #000000;

}
.about-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
        padding-bottom: 96px;
}
.about-content {
    width: 453px;
  
    
    
}
.about-title {
    margin-bottom: 16px;
font-weight: 900;
font-size: 24px;
line-height: 1.33;
letter-spacing: -0.1px;
color: #FFFFFF;

}
.about-after-title {
    margin-bottom: 16px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.1px;
color: #FFFFFF;
}
.about-list {
  
    padding-left: 20px;
}
.about-item {
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.shelf {
    border-radius: 12px;
}

/* REVIEW */
.review-container {
    padding-top: 96px;
    padding-bottom: 124px;
}
.review-list {
    display: flex;
    gap: 30px;
}
.review-item {
    width: 360px;
    padding: 24px;
    background-color: #F3F3F3;
    border-radius: 8px;
}
.review-text {
    margin-bottom: 56px;
font-size: 18px;
line-height: 1.55;
}
.review-title {
    margin-top: 16px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}
.review-after-title {
font-size: 14px;
line-height: 1.43;
}

/* HERO BOTTOM */

.hero-bottom {
    
    background-color: #000000;
}
.hero-bottom-container {
    
    padding-top: 192px;
    padding-bottom: 192px;
  text-align: center;
    
    
}
.hero-bottom-pre-title{
    margin-bottom: 12px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.1px;
color: #FFFFFF;
}
.hero-bottom-title {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
font-weight: 900;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.5px;
color: #FFFFFF;
}
.hero-bottom-btn {
    padding: 8px 16px;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.1px;
color: #000000;
background: #FFFFFF;
border-radius: 24px;
}

/* FOOTER */
.footer {
    background-color: #000000;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 108px;
}
.footer-logo {
font-weight: 900;
font-size: 24.6533px;
line-height: 1.05;
letter-spacing: -0.440237px;
text-transform: uppercase;
color: #FFFFFF;
}

.footer-logo-sup {
    font-size: 8.21776px;
    line-height: 1.09;
    letter-spacing: -0.146746px;
    vertical-align: super;
}

.footer-title {
    margin-bottom: 16px;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.1px;
color: #FFFFFF;
}
.footer-item {
font-size: 14px;
line-height: 1.43;
color: #FFFFFF;
}
.footer-item:not(:last-child) {
    margin-bottom: 8px;

}
.footer-input {
    width: 360px;
}
.input-after-text {
font-size: 14px;
line-height: 1.43;
color: #FFFFFF;
}
.input {
    width: 360px;
    height: 48px;
    padding: 12px 24px;
    margin-bottom: 20px;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    border: transparent;
}
